{% extends 'staffTemp/base.html' %}

{% load static %}


{% block content %}

			<!-- start page content -->
<div class="page-content-wrapper">
    <div class="page-content">
                  <div class="page-bar">
                        		<div class="page-title-breadcrumb">
                            	<div class=" pull-left">
                                <div class="page-title">Dashboard</div>
                            	</div>
															<ol class="breadcrumb page-breadcrumb pull-right">
																	<li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="index.html">Home</a>&nbsp;
																	</li>
															</ol>
                        		</div>
              		</div>

									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<div class="row"> 
											<a style="font-family: Arial, Helvetica, sans-serif;color:green;" href="{% url 'profileStaff' %}" ><h5 class="card-title">My Account |</h5>
											</a>

											<a style="font-family: Arial, Helvetica, sans-serif;color:green;" href="{% url 'appointmentStaff' %}" ><h5 class="card-title">Appointment |</h5>
											</a>

											<a style="font-family: Arial, Helvetica, sans-serif;color:green;" href="{% url 'BookAppointmentTableStaff' %}" ><h5 class="card-title">Appointment Table |</h5>
											</a>

											<a style="font-family: Arial, Helvetica, sans-serif;color:green;" href="{% url 'virtualConsultationsStaff' %}" ><h5 class="card-title">Virtual Consultations |</h5>
											</a>

											

											<a style="font-family: Arial, Helvetica, sans-serif;color:green;" href="{% url 'doctorStaff' %}" ><h5 class="card-title">Doctor |</h5>
											</a>

											<a style="font-family: Arial, Helvetica, sans-serif;color:green;" href="{% url 'doctorStaff' %}" ><h5 class="card-title">Patient |</h5>
											</a>

											<a style="font-family: Arial, Helvetica, sans-serif;color:green;" href="{% url 'inventoryStaff' %}" ><h5 class="card-title">Inventory</h5>
											</a>

											

										</div>
									</div><br>
												<div class="row">
													<div class="col-sm-12">
														<div class="card-box">
															<div class="card-body ">
																<div class="col-lg-12 p-t-20 p-b-20">
																	<center><h1><strong>Welcome Staff!</strong></h1></center>
																</div>
															</div>
														</div>
													</div>
												</div>

												
												<div class="container">
													<div class="row">

														<div class="col-sm">
															<div class="card-box">
																<div class="card-body ">
																<div class="card-head">
																	<center>
																	<a href="{% url 'doctorStaff' %}"><h2 style="font-family: Arial, Helvetica, sans-serif;color:green;" >Doctor's Schedule This week</h2></a>
																	</center>
															</div>
															<div class="card-body ">
																
																<div class="table-responsive">
																	<table class="table table-striped table-bordered table-hover  order-column full-width" id="example4">
																					<thead style="background-color:#E5E5E5;">
																							<tr>
																									<th>
																											<center > Monday </center>
																											</th>
																									<th>
																											<center> Tuesday </center>  
																									</th>
																									<th>
																											<center> Wednesday </center>  
																									</th>
																									<th>
																											<center> Thursday </center>  
																									</th>
																									<th>
																											<center> Friday </center>  
																									</th>
																									<th>
																											<center> Saturday </center>  
																									</th>
																									<th>
																											<center> Sunday </center>  
																									</th>
																							</tr>
																					</thead>
																					<tbody>
																							{% for doctor in day1 %}
																							<tr class="odd gradeX">
				
																													
																									<td>
																											<center><h5 style="font-weight:bold;">{{day1.all|join:', <br>'|default:" "}}</h5></center>
																									</td>
																									<td>
																											<center><h5 style="font-weight:bold;">{{day2.all|join:', <br>'|default:" "}}</h5></center>
																									</td>
																									<td>
																											<center><h5 style="font-weight:bold;">{{day3.all|join:', <br>'|default:" "}}</h5></center> 
																									</td>
																									<td>
																											<center><h5 style="font-weight:bold;">{{day4.all|join:', <br>'|default:" "}}</h5></center>
																									</td>
																									<td>
																											<center><h5 style="font-weight:bold;">{{day5.all|join:', <br>'|default:" "}}</h5></center>
																									</td>
																									<td>
																											<center><h5 style="font-weight:bold;">{{day6.all|join:', <br>'|default:" "}}</h5></center>
																									</td>
																									<td>
																											<center><h5 style="font-weight:bold;">{{day7.all|join:', <br>'|default:" "}}</h5></center>
																									</td>
																									
																							</tr>
																							{% empty %}
																							<tr>
																								<td colspan="7">
																									<center style="font-size:20px;">There are no scheduled doctor</center><br>
																								</td>
																							</tr>
																							{% endfor %}
																					</tbody>
																	</table>
																</div>

															</div>
														</div>
													</div>
												</div>


												



												<div class="container">
													<div class="row">

														<div class="col">
															<div class="card-box">
																<div class="card-body ">
																	

																	<div class="card-head">
																		<center>
																				<a href="{% url 'appointmentStaff' %}"><p style="font-size:30px;,font-family: Arial, Helvetica, sans-serif;color:green;">Appointment</p>
																				<p style="color:green;">Appointment that didn't assigned to the doctors</p></a>
																		</center>
																	</div>

																	<div class="card-body ">
																		<div class="table-responsive">
																			<table class="table table-striped table-bordered table-hover  order-column full-width" id="example4">

																				<thead style="background-color:#c3e6cb;">
																					<tr>
																						<th> Patient Name </th>
																						<th><center> Submission Date </center></th>
																					</tr>
																				</thead>

																				<tbody>
																					{% for ba in ba %}
																					<tr class="odd gradeX">
																						<td>	
																							{{ba.first_name}} {{ba.last_name}}
																						</td>
																						<td>
																							{{ba.date_created}}
																						</td>
																					</tr>

																					{% empty %}
																					<tr><td colspan="2"><center>There are no appointment in this table</center><br>

																					{% endfor %}
																				</tbody>
																			</table>
																		</div>
																	</div>

																</div>
															</div>
														</div>


														<div class="col">
															<div class="card-box">
																<div class="card-body ">
																	
																	<div class="card-head">
																		<center>
																				<a href="{% url 'virtualConsultationsStaff' %}"><p style="font-size:30px;,font-family: Arial, Helvetica, sans-serif;color:green;">Virtual Consultation</p>
																				<p style="color:green;">Submission that didn't assigned to the doctors</p></a>
																		</center>
																	</div>

																	<div class="card-body ">
																		<div class="table-responsive">
																			<table class="table table-striped table-bordered table-hover  order-column full-width" id="example4">

																				<thead style="background-color:#c3e6cb;">
																					<tr>
																						<th> Patient Name </th>
																						<th><center> Submission Date </center></th>
																					</tr>
																				</thead>
																				
																				<tbody>
																					{% for vr in vr %}
																					<tr class="odd gradeX">
																						<td>	
																							<center>{{vr.first_name}} {{vr.last_name}}</center>
																						</td>
																						<td>
																							{{vr.date_created}}
																						</td>
																					</tr>

																					{% empty %}
																					<tr><td colspan="3"><center>There are no virtual consultation in this table</center><br>

																					{% endfor %}
																				</tbody>
																			</table>
																		</div>
																	</div>

																</div>
															</div>
														</div>

													</div>
												</div>



												<div class="container">
													<div class="row">

														<div class="col-md-6">
															<div class="card-box">

																<div class="card-body ">
																	<div class="card-head">
																		<center>
																				<a href="{% url 'paymentStaff' %}"><p style="font-size:35px;,font-family: Arial, Helvetica, sans-serif;color:green;">Payment</p>
																				<p style="color:green;">patient's with balance payments</p></a>
																		</center>
																	</div>
																	
																	<div class="card-body ">
																		<div class="table-responsive">
																			<table class="table table-striped table-bordered table-hover  order-column full-width" id="example4">

																				<thead style="background-color:#c3e6cb;">
																					<tr>
																						<th> Patient Name </th>
																						<th><center> Payment Date </center></th>
																						<th> Balance </th>
																					</tr>
																				</thead>

																				<tbody>
																					{% for inventory in payment %}
																					<tr class="odd gradeX">
																						<td>	
																							<center>{{inventory.patient_name}}</center>
																						</td>
																						<td>
																							{{inventory.payment_date}}
																						</td>
																						<td>
																							{{inventory.balance}}
																						</td>
																					</tr>

																					{% empty %}
																					<tr>
																						<td colspan="3">
																							<center style="font-size:15px;">There are no payment in this table</center><br>
																						</td>
																					</tr>
																				

																					{% endfor %}
																				</tbody>
																			</table>
																		</div>
																	</div>

																</div>
															</div>
														</div>

														<div class="col-md-6">
															<div class="card-box">
																<div class="card-body ">
																			
																	<div class="card-head">
																		<center>
																			<a href="{% url 'inventoryStaff' %}">
																				<p style="font-size:35px;,font-family: Arial, Helvetica, sans-serif;color:green;">Inventory</p>
																				<p style="color:green;">items in the inventory have reached the reorder limit</p>
																			</a>
																		</center>
																	</div>

																	<div class="card-body ">
																		<div class="table-responsive">
																			<table class="table table-striped table-bordered table-hover  order-column full-width" id="example4">

																				<thead style="background-color:#c3e6cb;">
																					<tr>
																						<th> Product Name </th>
																						<th> Exp Date </th>
																						<th> Quantity </th>
																					</tr>
																				</thead>
																				
																				<tbody>
																					{% for inventory in inventory %}
																					<tr class="odd gradeX">
																						<td>																			
																							{{inventory.product_name}}
																						</td>
																						<td>
																							{{inventory.exp_date}}
																						</td>
																						<td>
																							{% if inventory.quantity <= inventory.reorder_level %}
																								<div style="color: #FF8C00;">{{inventory.quantity}}</div>
																							{% else %}
																								{{inventory.quantity}}
																							{% endif %}
																						</td>
																					</tr>
																					
																					{% empty %}
																					<tr>
																						<td colspan="3">
																							<center style="font-size:15px;">There are no item in this table</center><br>
																						</td>
																					</tr>
																					{% endfor %}
																				</tbody>
																			</table>
																		</div>
																	</div>

																</div>
															</div>
														</div>
				
													</div>
												</div>



																







										
												

								
    </div>
</div>
		<!-- end page content -->
{% endblock %}