{% extends 'staffTemp/base.html' %}
{% block activeDashboard %}{% endblock %}
{% block activeInventory %}active open{% endblock %}
{% block activeInventoryList %}active open{% endblock %}
{% block title %} Staff - Inventory | Gonzalez Dental Clinic {% endblock %}
{% load static %}

{% block extracss %}
<style>
    th {
    text-align: center;
    }
</style>
  {% endblock extracss %}


{% block content %}
{% load management_extras %}
<!-- start page content -->
<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <div class="page-title-breadcrumb">
                <div class=" pull-left">
                    <div class="page-title">Inventory </div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="{% url 'dashboardStaff' %}">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </li>
                    <li class="active">Inventory</li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card  card-box">
                    <div class="card-head">
                        <header>Manage Inventory</header>
                    </div><br>

                    

                    <div class="card-body "></br>
                        <div class="row  justify-content-between">
                            <div class="col-md-2 col-sm-5 col-xs-6" style="margin-bottom:10px;">
                                <div class="btn-group">
                                    <a href="{% url 'inventoryCreateStaff' %}" id="addRow1" class="btn btn-success">
                                    Add New 
                                        <i style="color:white;" class="fa fa-plus"></i>
                                    </a>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-4 col-xs-4" style="margin-bottom:10px;">
                                <form action="" method="GET">
                                    <div class="input-group">
                                            {{filter_inventory.form.inventorySearch}}
                                            <div class="input-group-prepend">
                                                <button type="submit" class="btn btn-secondary btn-sm"  value="search">
                                                <i class="fa fa-search"></i>
                                            </div>
                                          </div>
                                    </form>
                                </div>
                            </div></br>

 

                                    <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover  order-column full-width" id="example4">
                                        <thead style="background-color:#36DB51;">
                                            <tr>
                                                <th>ID</th>
                                                <th> Product Name </th>
                                                <th> Company Name </th>
                                                <th> Contact </th>
                                                <th> Price </th>
                                                <th> Exp Date </th>
                                                <th> Quantity </th>
                                                <th> Edit </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for inventory in inventory_page %}
                                            <tr class="odd gradeX">
                                                <td>
                                                    {{inventory.id}}
                                                </td>
                                                <td>
                                                    {{inventory.product_name}}
                                                </td>
                                                <td>
                                                    {{inventory.company_name}}
                                                </td>
                                                <td>
                                                    {{inventory.company_contact}}
                                                </td>
                                                <td>
                                                    {{inventory.unit_prize}}
                                                </td>
                                                <td>
                                                    {{inventory.exp_date}}
                                                </td>
                                                <td>
                                                    {% if inventory.quantity <= inventory.reorder_level %}
                                                        <div style="color: #FF8C00;">{{inventory.quantity}}</div>
                                                    {% else %}
                                                        {{inventory.quantity}}
                                                    {% endif %}
                                                </td>
                                                <td class="valigntop">
                                                    <div class="btn-group">


                                                        <a href="{% url 'inventoryManageStaff' inventory.id %}"class="btn btn-xs dropdown-toggle no-margin" style="color:#337ab7;">Manage<i style="color:#337ab7;" class="fa fa-tasks"></i></a>
                                                            
                                                        <a href="{% url 'inventoryEditStaff' inventory.id %}"class="btn btn-xs dropdown-toggle no-margin" style="color:#18ce0f;">Update<i style="color:#18ce0f;" class="fa fa-wrench"></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% empty %}
                                     
                                            <center style="font-size:20px;">There are no items in this Table</center><br>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    </div>


                                    <hr>

                                    <div class="container">
                                        <div class="row">
                                            <div class="col d-flex justify-content-center">
                                                <nav >
                                                    <ul class="pagination justify-content-end">
                                                        {% if inventory_page.has_previous %}
                                                        <li class="page-item ">
                                                            <a style="color:green;" class="page-link" href="{% my_url 1 'page' request.GET.urlencode %}">&laquo First</a>
                                                        </li>
                                                        
                                                        {% if not search %}
                                                        <li class="page-item">
                                                            <a  style="color:green;" class="page-link" href="{% my_url inventory_page.previous_page_number 'page' request.GET.urlencode %}" tabindex="-1">Previous</a>
                                                        </li>
                                                        {% else %}
                                                        <li class="page-item ">
                                                            <a style="color:green;" class="page-link" href="{% my_url inventory_page.previous_page_number 'page' request.GET.urlencode %}">Previous</a>
                                                        </li> 
                                                        {% endif %}
                                                        {% else %}
                                                        <li class="page-item disabled">
                                                            <a class="page-link" href="#" tabindex="-1">Previous</a>
                                                        </li>
                                                        {% endif %}
                    
                                                        
                                                        {% for object in inventory_page.paginator.page_range %}
                                                        <li class="page-item">
                                                            <a style="color:green;" class="page-link" href="{% my_url forloop.counter 'page' request.GET.urlencode %}">{{ forloop.counter }}</a>
                                                        </li>
                                                        {% endfor %}
                                                        
                    
                                                        {% if inventory_page.has_next %}
                                                        {% if not search %}
                                                        <li class="page-item">
                                                            <a style="color:green;" class="page-link" href="{% my_url inventory_page.next_page_number 'page' request.GET.urlencode %}"> Next</a>
                                                        </li>
                                                        <li class="page-item">
                                                            <a style="color:green;" class="page-link" href="{% my_url inventory_page.paginator.num_pages 'page' request.GET.urlencode %}"> Last &raquo</a>
                                                        </li>
                                                        {% else %}
                                                        
                                                        {% endif %}
                                                        {% else %}
                                                        <li class="page-item disabled">
                                                            <a class="page-link" href="#">Next</a>
                                                        </li>
                                                        
                                                        {% endif %}
                                                        
                    
                    
                    
                                                    </ul>
                                                </nav>
                                                </div>
                                            </div>
                                        </div>
                    
                    
                    
                                            </div>
                                        </div>
                    
                                    </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end page content -->


{% endblock %}
        