{% extends 'staffTemp/base.html' %}
{% block activeDashboard %}{% endblock %}
{% block activeAppointment %}active open{% endblock %}
{% block activeVirtualConsultation %}active open{% endblock %}
{% block title %} Staff - Assign Virtual Consultation | Gonzalez Dental Clinic {% endblock %}
{% load static %}


{% block content %}


<!-- start page content -->
            <div class="page-content-wrapper">
                <div class="page-content">
                    <div class="page-bar">
                        <div class="page-title-breadcrumb">
                            <div class=" pull-left">
                                <div class="page-title"> Virtual Consultation</div>
                            </div>
                            <ol class="breadcrumb page-breadcrumb pull-right">
                                <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="{% url 'dashboardStaff' %}">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
                                </li>
                                <li class="active"> Assign Virtual Consultation</li>
                            </ol>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="card card-box">
                            <div class="card-head">
                                    <header>Assign Virtual Consultation</header>
                            </div>
                                
                                <div class="card-body" id="bar-parent">
                                    <form action="" method="POST">
                                    <div class="form-horizontal">
                                    {% csrf_token %}
                                        <div class="form-body">
                                              
                                            <div class="form-group row">
                                                <label class="control-label col-md-3">Patient Name:
                                                    
                                                </label>
                                                <div class="col-md-5">
                                                    {{assignDoctorVC.first_name}} {{assignDoctorVC.last_name}}
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="control-label col-md-3">Message:
                                                    
                                                </label>
                                                <div class="col-md-5">
                                                    {{assignDoctorVC.message}} 
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="control-label col-md-3">Case Picture:
                                                    
                                                </label>
                                                <div class="col-md-5">
                                                    {% if assignDoctorVC.full_face %}
                                                      <a href="{{ assignDoctorVC.full_face.url }}"  target="_blank">
                                                      <img src="{{ assignDoctorVC.full_face.url }}"  width="100" height="100">
                                                      </a>
                                                    {% endif %}

                                                    {% if assignDoctorVC.close_up %}  
                                                      <a href="{{ assignDoctorVC.close_up.url }}"  target="_blank">
                                                      <img src="{{ assignDoctorVC.close_up.url }}"width="100" height="100">
                                                    </a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="control-label col-md-3">Assign to Doctor:
                                                    
                                                </label>
                                                <div class="col-md-5">
                                                    {{form.assign_doctor}}
                                                </div>
                                            </div>
                                            
                                            
                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="offset-md-3 col-md-9">
                                                    <button type="submit" class="btn btn-info">Submit</button>
                                                    <a href="{% url 'virtualConsultationsStaff' %}" type="button" class="btn btn-default">Cancel</a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end page content -->


{% endblock %}