{% extends 'base.html' %}
{% load static %}
{% block title %} About Us - Gonzalez Dental Clinic {% endblock %}
{% block meta_discription %} About page of Gonzalez Dental Clinic {% endblock %}
{% block content %}


  <!-- ***** Breadcrumb Area Start ***** -->  
  <div class="breadcumb-area bg-gradient-overlay">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">About Us</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">About Us</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->

  <!-- ****** About Us Area Start ******* -->
  <section class="dento-about-us-area mt-70">
    <div class="container">
      <div class="row align-items-center">
        <!-- About Us Thumbnail -->
        <div class="col-12 col-md-6">
          <div class="about-us-thumbnail mb-50">
            <img src="{% static 'website/img/bg-img/site.jpg' %}" alt="">
          </div>
        </div>
        <!-- About Content -->
        <div class="col-12 col-md-6" >
          <div class="about-us-content mb-50">
            <!-- Section Heading -->
            <div class="section-heading">
              <h2>About Us</h2>
              <div class="line"></div>
            </div>
            <p>
              A baby’s first set of teeth is almost completely formed at birth. At first, these teeth are “hiding” under the gums. Typically, babies get their first tooth when they’re around 6 months old. These baby teeth let your baby chew food and talk well. You baby’s first set of teeth also holds the space where permanent teeth will eventually be. They help permanent teeth grow in straight.
              </p>
          </div>
        </div>
        

      </div>
    </div>
  </section>
  <!-- ****** About Us Area End ****** -->
  <div class="container">
    <div class="dento-border clearfix"></div>
  </div>
  <!-- ***** Dento Dentist Area Start ***** -->
  <section class="dentist-area section-padding-100-0" id="ourDentist">
    <div class="container" >
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">
            <h2>Our Dentist</h2>
            <div class="line"></div>
          </div>
        </div>
      </div>

      

      <div class="row">
        <!-- Single Dentist Area -->
        <div class="col-12 col-sm-6 col-md-4">
          <div class="single-dentist-area mb-100">
            <img src="{% static 'website/img/bg-img/p2.jpg' %}" alt="">
          </div>
        </div>
        <!-- Single Dentist Area -->
        <div class="col-12 col-md-6 col-md-8">
          <div class=" mb-100">
            <!-- Section Heading -->
            <div class="section-heading">
              <h5>Dr. Reynaldo A. Gonzalez</h5>
                <p>General and Surgical Dentistry</p>
              <div class="dentist-social-info">
                <a href="https://www.facebook.com/docreygonzalez" target="_blank"><i class="fa fa-facebook"></i></a>
              </div>
            </div>
            <p>
              Studied at Central Escolar University, Former President  and Adviser at Philippine Dental Association Laguna Chapter. Now he is a doctor at Gonzalez Partoza Dental clinic.</p>
            <p>“Ÿour smile may be the brightest part of someones day. So wear it often and share it freely!” </p>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Single Dentist Area -->
        <div class="col-12 col-sm-6 col-md-4">
          <div class="single-dentist-area mb-100">
            <img src="{% static 'website/img/bg-img/p1.jpg' %}" alt="">
          </div>
        </div>
        <!-- Single Dentist Area -->
        <div class="col-12 col-md-6 col-md-8">
          <div class=" mb-100">
            <!-- Section Heading -->
            <div class="section-heading">
              <h5>Dr. Maria Teresa P. Gonzalez</h5>
                <p>General Dentistry </p>
              <div class="dentist-social-info">
                <a href="https://www.facebook.com/mariateresa.p.gonzalez" target="_blank"><i class="fa fa-facebook"></i></a>

              </div>
            </div>
            <p>Studied at Central Escolar university, International association for Orthodontics award  for having successfully completed a postgraduate basic and advanced  intensive course on ; Updated Biomechanics in Orthodontics  Orthodontic Diagnosis and treatment planning, straight wire Mechanotheraphy and basic TMJ Course.</p>
            <p>“ its never too late to get your smile Straight
              “</p>
          </div>
        </div>
      </div>

        <div class="row">
        <!-- Single Dentist Area -->
        <div class="col-12 col-sm-6 col-md-4">
          <div class="single-dentist-area mb-100">
            <img src="{% static 'website/img/bg-img/p3.jpg' %}" alt="">
          </div>
        </div>

        <!-- Single Dentist Area -->
        <div class="col-12 col-md-6 col-md-8">
          <div class=" mb-100">
            <!-- Section Heading -->
            <div class="section-heading">
              <h5>Ian Timothy P. Gonzalez</h5>
                <p>General and Pediatric Dentistry</p>
              <div class="dentist-social-info">
                <a href="https://www.facebook.com/GonzalezTim"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </div>
            </div>
            <p>Studied at University of the Philippines  Manila and former dentist at Philippines Children’s hospital ,  dentist at teeth for keeps.</p>
            <p>“ we provide comprehensive dental care so that children can stay  in excellent oral health. With ongoing  regular appointments ,we can  identify and treat infections early so that your child can avoid feeling any discomfort or having premature tooth loss, as a pediatric dentist, we understand how important it is for your child to remain in good health and do our best to make that a reality.”</p>
          </div>
        </div>


        <div class="row">
          <!-- Single Dentist Area -->
          <div class="col-12 col-sm-6 col-md-4">
            <div class="single-dentist-area mb-100">
              <img src="{% static 'website/img/bg-img/p4.jpg' %}" alt="">
            </div>
          </div>

        <!-- Single Dentist Area -->
        <div class="col-12 col-md-6 col-md-8">
          <div class=" mb-100">
            <!-- Section Heading -->
            <div class="section-heading">
              <h5>Joyce Izza Marie G. Gonzalez</h5>
                <p>General and Pediatric Dentistry</p>
              <div class="dentist-social-info">
                <a href="https://www.facebook.com/jimgonzales.ddm"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </div>
            </div>
            <p>Studied at University of the Philippines  Manila and former dentist at Philippines Children’s hospital ,  dentist at teeth for keeps.</p>
            <p>“treating a cavity in a baby tooth is crucial to ensure the tooth stays in place until it falls out naturally, because it saves space for the permanent tooth. If decay in a baby tooth is not treated it could cause pain , impair speech ,, and potentially damage permanent teeth or cause them to grow in crooked. Be sure to discuss options with your pediatric dentist to decide what is best for your child.”</p>
          </div>
        </div>

      </div>
      </div>
    </div>
  </section>
  <!-- ***** Dento Dentist Area End ***** -->

{% endblock %}