{% extends 'base.html' %}
{% load static %}
{% block title %} FAQs - Gonzalez Dental Clinic {% endblock %}
{% block meta_discription %} FAQs page of Gonzalez Dental Clinic {% endblock %}
{% block content %}


  <!-- ***** Breadcrumb Area Start ***** -->  
  <div class="breadcumb-area bg-gradient-overlay">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Frequently Asked Questions</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div id="FAQs1" class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">FAQs</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->

 <!-- ***** Dropdown Area Start ***** -->
 <div class="container">
    <div class="row">
    <div class="col-sm-12 offset-sm-9">
      <div class="dropdown mps-0">
        <button class="btn btn-info dropdown-toggle" type="button" id="fa-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Overview
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="{% url 'FAQs' %}#FAQs1">1. How Often Should I Get a Dental Checkup?</a>
          <a class="dropdown-item" href="{% url 'FAQs' %}#FAQs2">2. What Are the Best Ways to Practice Good Oral Hygiene at Home?</a>
          <a class="dropdown-item" href="{% url 'FAQs' %}#FAQs3">3. How Can I Improve the Whiteness of My Teeth?</a>
          <a class="dropdown-item" href="{% url 'FAQs' %}#FAQs4">4. How Do I Prevent Tooth Decay, Gingivitis, and Other Problems?</a>
          <a class="dropdown-item" href="{% url 'FAQs' %}#FAQs5">5. Why Should I Have Dental X-Rays Taken?</a>
          <a class="dropdown-item" href="{% url 'FAQs' %}#FAQs6">6. What Is Tooth Sensitivity and Why Do I Have It?</a>
          <a class="dropdown-item" href="{% url 'FAQs' %}#FAQs7">7. When Should I Consider Dental Implants?</a>
          <a class="dropdown-item" href="{% url 'FAQs' %}#FAQs8">8. Should I Use Mouthwash Regularly?</a>
          <a class="dropdown-item" href="{% url 'FAQs' %}#FAQs9">9. At What Age Should My Child First See a Dentist?</a>
          <a class="dropdown-item" href="{% url 'FAQs' %}#FAQs10">10. When Do Baby Teeth Typically Fall Out?</a>

        </div>
      </div>
    </div>
  </div>
</div>
 <!-- ***** Dropdown Area End ***** -->

  <!-- ****** About Us Area Start ******* -->
  <section class="dento-about-us-area mt-70">
    <div class="container">
      <div class="row align-items-center">
        
        <div  class="col-12 ">
          <div id="FAQs2" class="single-blog-item mb-30">
            <!-- Blog Content -->
            <div  class="blog-content">
              <div class="section-heading">
              <h4>1. How Often Should I Get a Dental Checkup?</h4>
            </div>
            <p>Dental health varies from person to person; a general rule for adult patients is to visit a dentist once or twice a year, even if your mouth is in excellent condition. This way, you can get your teeth professionally cleaned regularly and maintain excellent oral health.</p>
            </div>
          </div>
        </div>

        <div class="col-12 ">
          <div  class="single-blog-item mb-30">
            <!-- Blog Content -->
            <div class="blog-content">
              <div class="section-heading">
              <h4>2. What Are the Best Ways to Practice Good Oral Hygiene at Home?</h4>
            </div>
            <p >In addition to daily brushing and flossing, take your oral hygiene to the next level by following a few steps to good dental health. These include:</p>
            <ul>
              <p id="FAQs3"> <i class="fa fa-check"></i>     Using products contain fluoride. </p>
              <p> <i class="fa fa-check"></i>     Limiting snacks thathigh in sugar. </p>
              <p> <i class="fa fa-check"></i>     Eating a balanced diefruits and vegetables. </p>
              <p> <i class="fa fa-check"></i>     Avoiding tobacco inform. </p>
            </ul>
            </div>
          </div>
        </div>

        <div class="col-12 ">
          <div id="FAQs4" class=" single-blog-item mb-30">
            <!-- Blog Content -->
            <div class="blog-content">
              <div class="section-heading">
              <h4>3. How Can I Improve the Whiteness of My Teeth?</h4>
            </div>
            <p>A beautiful smile with clean, white teeth is a huge confidence booster. Most people experience some discoloration of teeth over the years, either from surface stains or internal ones. Treat stains caused by coffee, wine, tobacco, and pigmented foods with at-home whitening or have professional, in-office whitening done regularly. For internal discoloration, consider composite bonding or the application of veneers to the affected teeth, which provides a more permanent solution.</p>
            </div>
          </div>
        </div>

        <div class="col-12 ">
          <div id="FAQs5" class="single-blog-item mb-30">
            <!-- Blog Content -->
            <div class="blog-content">
              <div class="section-heading">
              <h4>4. How Do I Prevent Tooth Decay, Gingivitis, and Other Problems?</h4>
            </div>
            <p>The best way to ensure a healthy mouth is to follow a balanced diet and regularly visit the dentist while maintaining your oral care routine with twice-daily brushing and once-daily flossing. Protect yourself against problems that can advance quickly by discussing these questions with your dental professional.</p>
            </div>
          </div>
        </div>

        <div class="col-12 ">
          <div  class="single-blog-item mb-30">
            <!-- Blog Content -->
            <div class="blog-content">
              <div class="section-heading">
              <h4 id="FAQs6">5. Why Should I Have Dental X-Rays Taken?</h4>
            </div>
            <p >Your dentist should take a full set of dental X-rays early into the doctor-patient relationship. X-rays help your doctor monitor any changes that could be happening in your teeth between appointments. Most adult patients have bitewing X-rays every year and a full mouth series every four to five years. But those with a higher risk for dental caries problems may need them every six to 18 months.</p>
            </div>
          </div>
        </div>

        <div class="col-12 ">
          <div  class="single-blog-item mb-30">
            <!-- Blog Content -->
            <div class="blog-content">
              <div class="section-heading">
              <h4>6. What Is Tooth Sensitivity and Why Do I Have It?</h4>
            </div>
            <p>Patients with tooth sensitivity feel pain when they consume foods or drinks that are hot or cold, sweet, or acidic. Sensitivity happens when tooth enamel, which usually protects the tooth's pulp and dentin, is thinned from repeated exposure to acidity and extreme temperatures. Sensitivity can also occur as a result of:</p>
            <ul >
              <p> <i class="fa fa-check"></i>     Receding gums </p>
              <p> <i class="fa fa-check"></i>     Tooth grinding during sleep </p>
              <p id="FAQs7"> <i class="fa fa-check"></i>     Chipped or fractured teeth</p>
              <p> <i class="fa fa-check"></i>     Tooth whitening </p>
              <p> <i class="fa fa-check"></i>     Orthodontics and fillings </p>
            </ul>
            <p>Talk to your dental professional, and they will examine the affected teeth and recommend treatment to reduce your sensitivity.</p>
            </div>
          </div>
        </div>

        <div class="col-12 ">
          <div class="single-blog-item mb-30">
            <!-- Blog Content -->
            <div class="blog-content">
              <div class="section-heading">
              <h4 id="FAQs8">7. When Should I Consider Dental Implants?</h4>
            </div>
            <p>Dental implants are the ideal way to replace missing or weakened teeth. Implants are permanent and serve as an excellent alternative to dentures for anyone with an otherwise healthy mouth and jaw. Most adult patients are good candidates for dental implants because they can help prevent the remaining teeth from moving or loosening.</p>
            </div>
          </div>
        </div>

        <div class="col-12 ">
          <div id="FAQs9" class="single-blog-item mb-30">
            <!-- Blog Content -->
            <div class="blog-content">
              <div class="section-heading">
              <h4>8. Should I Use Mouthwash Regularly?</h4>
            </div>
            <p>It depends - there are different kinds of mouthwash. Cosmetic mouthwashes aim to freshen breath and to maintain a healthy teeth color, but they contain fluoride to help fight cavities as well. Therapeutic rinses work to help treat conditions such as gingivitis, tooth sensitivity, and inflammation. For more advanced conditions, prescription mouthwashes often contain chlorhexidine gluconate to kill bacteria that cause bleeding, inflammation, and plaque or biofilm formation.</p>
            </div>
          </div>
        </div>

        <div class="col-12 ">
          <div id="FAQs10" class="single-blog-item mb-30">
            <!-- Blog Content -->
            <div class="blog-content">
              <div class="section-heading">
              <h4>9. At What Age Should My Child First See a Dentist?</h4>
            </div>
            <p>Studies show children can develop their first cavities by two years old, so the American Academy of Pediatric Dentistry recommends booking the first visit once their first tooth appears – or, at the latest, their first birthday. This helps your dentist catch potential problems that can affect your child's overall health and well-being as more teeth grow in overtime.</p>
            </div>
          </div>
        </div>

        <div class="col-12 ">
          <div  class="single-blog-item mb-30">
            <!-- Blog Content -->
            <div class="blog-content">
              <div class="section-heading">
              <h4>10. When Do Baby Teeth Typically Fall Out?</h4>
            </div>
            <p>Most children begin losing their baby teeth between the ages of six and eight. They typically fall out in roughly the same order in which they grew. Keep in mind that all patients are different. Children and adult oral conditions depend on how long they've gone without an appointment, how long a child's baby teeth last, and what kinds of things you are naturally more sensitive to.</p>
            <p>Next time you're at the dentist, don't be afraid to ask any questions you might have; They are there to help! With these questions queued up, you'll never be in doubt about the state of your oral health.</p>
            </div>
          </div>
        </div>


        




      </div>
    </div>
  </section>
  <!-- ****** About Us Area End ****** -->


{% endblock %}