{% load static %}
<!DOCTYPE html>
<html lang="en">
<!-- BEGIN HEAD -->

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="description" content="Responsive Admin Template" />
    <meta name="author" content="Sunray" />
    <title>{% block title %} Admin | Gonzalez Dental Clinic {% endblock %}</title>
    <!-- google font -->
    
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet" type="text/css" />
		<!-- icons -->
  <link href="{% static 'management/fonts/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css"/>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

	<!--CSS-->
	{% include 'adminTemp/css.html' %}
	<style>
		.nav-link:hover{
			background-color: #F8F8F8;
		}


	.main-menu{
  position:fixed;
  top:6vh;
  left:0;
  height:100vh;

  overflow: hidden;
  white-space: nowrap;
  transition: .3s ease;
}
.main-menu:hover{
  overflow-y: scroll;
}
.main-menu .menu-item:hover{
  cursor: pointer;
}


::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-track{
  background: transparent !important  ;
}
::-webkit-scrollbar-thumb{
  border-radius: 10px;
}
	</style>
	<!--HTMX-->
	<script src="https://unpkg.com/htmx.org@1.6.0" integrity="sha384-G4dtlRlMBrk5fEiRXDsLjriPo8Qk5ZeHVVxS8KhX6D7I9XXJlNqbdvRlp9/glk5D" crossorigin="anonymous"></script>
  {% block extracss %}
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  {% endblock extracss %}

  <!-- Favicon -->
  <link rel="icon" href="{% static 'website/img/core-img/favicon5.ico' %}">


</head>
<!-- END HEAD -->



<body class="page-header-fixed sidemenu-closed-hidelogo page-content-white page-md header-white dark-color white-sidebar-color logo-dark" style="height:100%; min-height:100vh;">

    <div class="page-wrapper">
      <!-- start header -->
			<div class="page-header navbar navbar-fixed-top">
        <div class="page-header-inner ">
          <!-- logo start -->
          <div class="page-logo">
            <a href="{% url 'dashboardAdmin' %}">
            <span class="logo-default" >Gonzalez Dental Clinic</span> 
						</a>
					</div>
          <!-- logo end -->
					<div class="row  justify-content-around">
						<div class="col-11">
							<!-- start header menu -->
							<div class="top-menu">
								<ul class="nav navbar-nav">
									<!-- start notification dropdown -->
									<li class="dropdown dropdown-extended dropdown-notification">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
											<i class="material-icons" style="font-size: 20px; float: left; color: white">notifications</i>
										{% if count > 0 %}
											<span class="notify"></span>
											<span class="heartbeat"></span>
										{% endif %}
										{% if countVC > 0 %}
											<span class="notify"></span>
											<span class="heartbeat"></span>
										{% endif %}
										</a>
											<!-- start notification dropdown -->
											<ul class="dropdown-menu">
												<li class="external">
													<h3><span class="bold">Notifications</span></h3>
													<span class="notification-label purple-bgcolor"></span>
												</li>
												<li>
												
												
														<ul class="dropdown-menu-list small-slimscroll-style" data-handle-color="#637283">
															{% if count > 0 %}
															<li>
																<a href="{% url 'manage' %}">
																	<span class="details">
																	<span class="notification-icon circle blue-bgcolor">{{count}}</span> Appointment needs to assigned to Doctor. </span>
																</a>
															</li>
															{% else %}
															{% endif %}

															{% if countVC > 0 %}
															<li>
																<a href="{% url 'virtualConsultations' %}">
																	<span class="details">
																	<span class="notification-icon circle blue-bgcolor">{{countVC}}</span>
																	Assigned virtual consultation to Doctor.</span>
																</a>
															</li>
															{% else %}
															{% endif %}
															

														</ul>
												</li>
											</ul>
									</li>
								</ul>
							</div>
							<!-- end notification dropdown -->
						</div>
					</div>
				</div>
      </div>
      <!-- end header -->

				<!-- start page container -->
				<div class="page-container" style="min-height:100vh;">
					<!-- start sidebar menu -->
					<div class="sidebar-container" >
						<div class="sidemenu-container navbar-collapse collapse fixed-menu">
							<div id="remove-scroll leftCol" class="left-sidemenu main-menu">
								<ul  class="sidemenu  page-header-fixed slimscroll-style" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
									<li class="sidebar-toggler-wrapper hide">
										<div class="sidebar-toggler">
											<span></span>
										</div>
									</li>

											<li class="sidebar-user-panel">
												<div class="user-panel">
														<div >
																<img style="background-color:white;" src="{% static 'login/img/logo5.png' %}">
														</div>
														<br>
														<div>
															<p>
																<b>{{request.user.first_name}} {{request.user.last_name}}</b><br/>
																<small>Admin</small>
															</p>  
														</div>
												</div>
											</li>

											<li class=" menu-item nav-item {% block activeDashboard %}active open{% endblock %}">
												<a href="{% url 'dashboardAdmin' %}" class="nav-link nav-toggle">
													<i class="material-icons">dashboard</i>
													<span class="title">Dashboard</span>
													<span class="selected"></span>
												</a>
											</li>

											<li class="menu-item nav-item {% block activeDepartment %}{% endblock %}">
												<a href="{% url 'department' %}" class="nav-link nav-toggle">
													<i class="material-icons">group</i>
													<span class="title">Department</span>
													<span class="selected"></span>
												</a>
											</li>




											<li class="menu-item {% block activeAppointment %}{% endblock %}">
												<a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle "><i class="material-icons">assignment</i>
													<span class="title">Appointment</span>
													<span class="arrow open"></span></a>
												<ul class="collapse list-unstyled " id="homeSubmenu">

													<li  class="nav-item {% block activeAppointmentList %}{% endblock %} ">
														<a style="color:#818488;" href="{% url 'manage' %}" class="nav-link "> 
														<span style="font-weight:400;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	
															Book Appointment </span>
														</a>
													</li>

													<li class="menu-item {% block activeAppointmentTable %}{% endblock %} ">
														<a style="color:#818488;" href="{% url 'BookAppointmentTable' %}" class="nav-link "> 
														<span style="font-weight:400;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
															Appointment List</span>
														</a>
													</li>
													

													<li class="menu-item nav-item {% block activeVirtualConsultation %}{% endblock %} ">
														<a style="color:#818488;" href="{% url 'virtualConsultations' %}" class="nav-link "> 
														<span style="font-weight:400;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	
															Virtual Consultation </span>
														</a>
													</li>

												</ul>
										</li>


										<li class="menu-item nav-item {% block activeDoctor %}{% endblock %} ">
											<a href="{% url 'doctor' %}" class="nav-link nav-toggle"> 
												<i class="fa fa-user-md"></i>
												<span class="title">Doctor</span> 
											</a>
										</li>

										<li class="menu-item nav-item {% block activeStaff %}{% endblock %} ">
											<a href="{% url 'staff' %}" class="nav-link nav-toggle"> 
											<i class="material-icons">person</i>
											<span class="title">Staff</span>
											</a>
										</li>

										<li class="menu-item nav-item {% block activePatient %}{% endblock %} ">
											<a href="{% url 'patient' %}" class="nav-link nav-toggle"> 
											<i class="material-icons">accessible</i>
											<span class="title">Patients</span> 
											</a>
										</li>

										<li class="menu-item nav-item {% block activePayment %}{% endblock %} ">
											<a href="{% url 'payment' %}" class="nav-link nav-toggle"> 
											<i class="material-icons">monetization_on</i>
											<span class="title">Payments</span>
											</a>
										</li>

										<li class="menu-item nav-item {% block activeInventory %}{% endblock %} ">
											<a href="{% url 'inventory' %}" class="nav-link nav-toggle"> 
											<i class="material-icons f-left">assignment_turned_in</i> 
											<span class="title">Inventory</span>
											</a>
										</li>

										<li class="menu-item nav-item {% block activeAccount %}{% endblock %} ">
											<a href="{% url 'account' %}" class="nav-link nav-toggle"> 
											<i class="material-icons f-left">account_circle</i> 
											<span class="title">Account</span> 
											</a>
										</li>

										<li class="menu-item nav-item  ">
											<a href="{% url 'logout' %}" class="nav-link nav-toggle"> 
											<i class="material-icons f-left">input</i> 
											<span class="title">Logout</span>
											</a>
										</li>

								</ul>
							</div>
						</div>
					
							<!-- end sidebar menu -->

							

						{% block content %}




						{% endblock %}
			        
					</div>
					<!-- end page container -->
				</div>
			</div>
			</div>
		</div>
			
    
		<!-- js scripts from other templates -->
		{% block extrascripts %}
    {% endblock extrascripts %}

		{% include 'adminTemp/js.html' %}
		
</body>
</html>