{% extends 'adminTemp/base.html' %}
{% block activeDashboard %}{% endblock %}
{% block activeAppointment %}active open{% endblock %}
{% block activeAppointmentList %}active{% endblock %}
{% block title %} Admin - Assign Appointment | Gonzalez Dental Clinic {% endblock %}

{% block content %}


<!-- start page content -->
            <div class="page-content-wrapper">
                <div class="page-content">
                    <div class="page-bar">
                        <div class="page-title-breadcrumb">
                            <div class=" pull-left">
                                <div class="page-title">Book Appointment</div>
                            </div>
                            <ol class="breadcrumb page-breadcrumb pull-right">
                                <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="{% url 'dashboardAdmin' %}">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
                                </li>
                                <li><a class="parent-item" href="{% url 'manage' %}">Book Appointment</a>&nbsp;<i class="fa fa-angle-right"></i>
                                </li>
                                <li class="active"> Assign Appointment</li>
                            </ol>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="card card-box">
                            <div class="card-head">
                                    <header>Assign Appointment</header>
                            </div>
                                
                                <div class="card-body" id="bar-parent">
                                    <form action="" method="POST">
                                    <div class="form-horizontal">
                                    {% csrf_token %}
                                        <div class="form-body">
                                              
                                            <div class="form-group row">
                                                <label class="control-label col-md-3">Patient Name:
                                                    
                                                </label>
                                                <div class="col-md-5">
                                                    {{assignDoctor.first_name}} {{assignDoctor.last_name}}
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="control-label col-md-3">Service Required:
                                                    
                                                </label>
                                                <div class="col-md-5">
                                                    {{assignDoctor.service_required}} 
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="control-label col-md-3">Approved Schedule:
                                                    
                                                </label>
                                                <div class="col-md-5">
                                                    {{assignDoctor.approved_date}} | {{assignDoctor.approved_time}} 
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="control-label col-md-3">Assign to Doctor:
                                                    
                                                </label>
                                                <div class="col-md-5">
                                                    {{form.assign_doctor}}
                                                </div>
                                            </div>
                                            {{form.errors}}
                                            
                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="offset-md-3 col-md-9">
                                                    <button type="submit" class="btn btn-info">Submit</button>
                                                    <a href="{% url 'manage' %}" type="button" class="btn btn-default">Cancel</a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end page content -->


{% endblock %}