{% load static %}
<!--bootstrap -->
	<link href="{% static 'management/css/select2.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'management/css/select2-bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'management/css/address.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'management/css/blueimp-gallery.min.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'management/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'management/css/bootstrap-colorpicker.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'management/css/bootstrap-datepicker3.min.css' %}" rel="stylesheet" >
	<link href="{% static 'management/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet" >
	<link href="{% static 'management/css/bootstrap-editable.css' %}" rel="stylesheet" >
	<link href="{% static 'management/css/bootstrap-material-datetimepicker.css' %}" rel="stylesheet" >
	<link href="{% static 'management/css/dateTables.bootstrap4.min.css' %}" rel="stylesheet" >
	<link href="{% static 'management/css/dropzone.css' %}" rel="stylesheet" >
	<link href="{% static 'management/css/extra-pages.css' %}" rel="stylesheet" >
	<link href="{% static 'management/css/formlayout.css' %}" rel="stylesheet" >
	<link href="{% static 'management/css/fullcalendar.css' %}" rel="stylesheet" >
	<link href="{% static 'management/css/inbox.min.css' %}" rel="stylesheet" >
	<link href="{% static 'management/css/jquery.fileupload.css' %}" rel="stylesheet" >
	<link href="{% static 'management/css/jquery.fileupload-ui.css' %}" rel="stylesheet" >
	<link href="{% static 'management/css/jquery-tags-inputs.css' %}" rel="stylesheet" >
	<link href="{% static 'management/css/jqvmap.css' %}" rel="stylesheet" >
	<link href="{% static 'management/css//material-design-iconic-font.min.css' %}" rel="stylesheet">
	<link href="{% static 'management/css/material.min.css' %}" rel="stylesheet" >
	<link href="{% static 'management/css/material_style.css' %}" rel="stylesheet">
	<link href="{% static 'management/css/morris.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'management/css/owl.carousel.css' %}" rel="stylesheet">
	<link href="{% static 'management/css/owl.theme.css' %}" rel="stylesheet">
	<link href="{% static 'management/css/plugins.min.css' %}" rel="stylesheet">
	<link href="{% static 'management/css/responsive.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'management/css/steps.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'management/css/style.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'management/css/summernote.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'management/css/theme-color.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'management/css/typography.css' %}" rel="stylesheet" type="text/css" />
