{% extends 'adminTemp/base.html' %}

{% load static %}




{% block content %}
			<!-- start page content -->
            <div class="page-content-wrapper">
              <div class="page-content"style="min-height:100vh;">
                  <div class="page-bar">
                    <div class="page-title-breadcrumb">
                      <div class=" pull-left">
                        <div class="page-title">Dashboard</div>
                      </div>
											<ol class="breadcrumb page-breadcrumb pull-right">
													<li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="{% url 'dashboardAdmin' %}">Home</a>
													</li>
											</ol>
                    </div>
              		</div>

									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<div class="row"> 
											<a style="font-family: Arial, Helvetica, sans-serif;color:green;" href="{% url 'department' %}" ><h5 class="card-title">Department |</h5>
											</a>

											<a style="font-family: Arial, Helvetica, sans-serif;color:green;" href="{% url 'manage' %}" ><h5 class="card-title">Appointment |</h5>
											</a>

											<a style="font-family: Arial, Helvetica, sans-serif;color:green;" href="{% url 'BookAppointmentTable' %}" ><h5 class="card-title">Appointment List |</h5>
											</a>

											<a style="font-family: Arial, Helvetica, sans-serif;color:green;" href="{% url 'virtualConsultations' %}" ><h5 class="card-title">Virtual Consultations |</h5>
											</a>

											<a style="font-family: Arial, Helvetica, sans-serif;color:green;" href="{% url 'doctor' %}" ><h5 class="card-title">Doctor |</h5>
											</a>

											<a style="font-family: Arial, Helvetica, sans-serif;color:green;" href="{% url 'staff' %}" ><h5 class="card-title">Staff |</h5>
											</a>

											<a style="font-family: Arial, Helvetica, sans-serif;color:green;" href="{% url 'patient' %}" ><h5 class="card-title">Patient |</h5>
											</a>
											<a style="font-family: Arial, Helvetica, sans-serif;color:green;" href="{% url 'payment' %}" ><h5 class="card-title">Payment |</h5>
											</a>

											<a style="font-family: Arial, Helvetica, sans-serif;color:green;" href="{% url 'inventory' %}" ><h5 class="card-title">Inventory |</h5>
											</a>

											<a style="font-family: Arial, Helvetica, sans-serif;color:green;" href="{% url 'account' %}" ><h5 class="card-title">Account</h5>
											</a>

											

										</div>
									</div><br>





									


								
												<div class="row">
													<div class="col-sm-12">
														<div class="card-box">
															<div class="card-body ">
																<div class="col-lg-12 p-t-20 p-b-20">
																	<center><h1><strong>Welcome Admin!</strong></h1></center>
																</div>
															</div>
														</div>
													</div>
												</div>

												</br>

												<div class="container">
													<div class="row">
														<div class="col-xl-4 col-md-6 col-12">
															<div class="info-box bg-white">
																<a style="font-family: Arial, Helvetica, sans-serif;color:black;" href="{% url 'doctor' %}" >
																
																<span class="info-box-icon push-bottom bg-transprnt"><i class="fa fa-user-md"></i></span>
																<div class="info-box-content">
																	<span class="info-box-number">Doctors {{total_doctor}}</span>
																	<div class="progress">
																		<div class="progress-bar bg-success" style="width: 100%"></div>
																	</div>
																	<span class="progress-description">
																		&nbsp;
																			</span>
																		
																</div>
															</a>
															</div>
														</div>
			
														<div class="col-xl-4 col-md-6 col-12">
															<div class="info-box bg-white">
																<a style="font-family: Arial, Helvetica, sans-serif;color:black;" href="{% url 'staff' %}" >
																
																<span class="info-box-icon push-bottom bg-transprnt"><i class="material-icons">person</i></span>
																<div class="info-box-content">
																	<span class="info-box-number">Staffs {{total_staff}}</span>
																	<div class="progress">
																		<div class="progress-bar bg-success" style="width: 100%"></div>
																	</div>
																	<span class="progress-description">
																		&nbsp;
																			</span>
																		
																</div>
															</a>
															</div>
														</div>
			
														<div class="col-xl-4 col-md-6 col-12">
															<div class="info-box bg-white">
																<a style="font-family: Arial, Helvetica, sans-serif;color:black;" href="{% url 'patient' %}" >
																<span class="info-box-icon push-bottom bg-transprnt"><i class="material-icons">accessible</i></span>
																<div class="info-box-content">
																	<span class="info-box-number">Patient {{total_patient}}</span>
																	<div class="progress">
																		<div class="progress-bar bg-success" style="width: 100%"></div>
																	</div>
																	<span class="progress-description">
																		&nbsp;
																			</span>
																</div>
															</a>
															</div>
														</div>
			
													</div>
												</div>

										<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
											<div class="row clearfix justify-content-md-center"> 


												<div class="container">
													<div class="row">

														<div class="col">
															<div class="card-box">
																<div class="card-body ">
																	

																	<div class="card-head">
																		<center>
																				<a href="{% url 'manage' %}"><p style="font-size:30px;,font-family: Arial, Helvetica, sans-serif;color:green;">Appointment</p>
																				<p style="color:green;">Appointment that didn't assigned to the doctors</p></a>
																		</center>
																	</div>

																	<div class="card-body ">
																		<div class="table-responsive">
																			<table class="table table-striped table-bordered table-hover  order-column full-width" id="example4">

																				<thead style="background-color:#c3e6cb;">
																					<tr>
																						<th> Patient Name </th>
																						<th><center> Submission Date </center></th>
																					</tr>
																				</thead>

																				<tbody>
																					{% for ba in appointment %}
																					<tr class="odd gradeX">
																						<td>	
																							{{ba.first_name}} {{ba.last_name}}
																						</td>
																						<td>
																							{{ba.date_created}}
																						</td>
																					</tr>

																					{% empty %}
																					<tr><td colspan="2"><center>There are no appointment in this table</center><br>

																					{% endfor %}
																				</tbody>
																			</table>
																		</div>
																	</div>

																</div>
															</div>
														</div>

														<div class="col">
															<div class="card-box">
																<div class="card-body ">
																	
																	<div class="card-head">
																		<center>
																				<a href="{% url 'virtualConsultations' %}"><p style="font-size:30px;,font-family: Arial, Helvetica, sans-serif;color:green;">Virtual Consultation</p>
																				<p style="color:green;">Submission that didn't assigned to the doctors</p></a>
																		</center>
																	</div>

																	<div class="card-body ">
																		<div class="table-responsive">
																			<table class="table table-striped table-bordered table-hover  order-column full-width" id="example4">

																				<thead style="background-color:#c3e6cb;">
																					<tr>
																						<th> Patient Name </th>
																						<th><center> Submission Date </center></th>
																					</tr>
																				</thead>
																				
																				<tbody>
																					{% for vr in consult %}
																					<tr class="odd gradeX">
																						<td>	
																							<center>{{vr.first_name}} {{vr.last_name}}</center>
																						</td>
																						<td>
																							{{vr.date_created}}
																						</td>
																					</tr>

																					{% empty %}
																					<tr><td colspan="3"><center>There are no virtual consultation in this table</center><br>

																					{% endfor %}
																				</tbody>
																			</table>
																		</div>
																	</div>

																</div>
															</div>
														</div>

													</div>
												</div>


											</div>
										</div>

										<div class="container">
											<div class="row">

												<div class="col-md-6">
													<div class="card-box">

														<div class="card-body ">
															<div class="card-head">
																<center>
																		<a href="{% url 'payment' %}"><p style="font-size:35px;,font-family: Arial, Helvetica, sans-serif;color:green;">Payment</p>
																		<p style="color:green;">patient's with balance payments</p></a>
																</center>
															</div>
															
															<div class="card-body ">
																<div class="table-responsive">
																	<table class="table table-striped table-bordered table-hover  order-column full-width" id="example4">

																		<thead style="background-color:#c3e6cb;">
																			<tr>
																				<th> Patient Name </th>
																				<th><center> Payment Date </center></th>
																				<th> Balance </th>
																			</tr>
																		</thead>

																		<tbody>
																			{% for payment in payment %}
																			<tr class="odd gradeX">
																				<td>	
																					<center>{{payment.patient_name}}</center>
																				</td>
																				<td>
																					{{payment.payment_date}}
																				</td>
																				<td>
																					{{payment.balance}}
																				</td>
																			</tr>

																			{% empty %}
																			<tr>
																				<td colspan="3">
																					<center style="font-size:15px;">There are no payment in this table</center><br>
																				</td>
																			</tr>
																		

																			{% endfor %}
																		</tbody>
																	</table>
																</div>
															</div>

														</div>
													</div>
												</div>

												<div class="col-md-6">
													<div class="card-box">
														<div class="card-body ">
																	
															<div class="card-head">
																<center>
																	<a href="{% url 'inventory' %}">
																		<p style="font-size:35px;,font-family: Arial, Helvetica, sans-serif;color:green;">Inventory</p>
																		<p style="color:green;">items in the inventory have reached the reorder limit</p>
																	</a>
																</center>
															</div>

															<div class="card-body ">
																<div class="table-responsive">
																	<table class="table table-striped table-bordered table-hover  order-column full-width" id="example4">

																		<thead style="background-color:#c3e6cb;">
																			<tr>
																				<th> Product Name </th>
																				<th> Exp Date </th>
																				<th> Quantity </th>
																			</tr>
																		</thead>
																		
																		<tbody>
																			{% for inventory in inventory %}
																			<tr class="odd gradeX">
																				<td>																			
																					{{inventory.product_name}}
																				</td>
																				<td>
																					{{inventory.exp_date}}
																				</td>
																				<td>
																					{% if inventory.quantity <= inventory.reorder_level %}
																						<div style="color: #FF8C00;">{{inventory.quantity}}</div>
																					{% else %}
																						{{inventory.quantity}}
																					{% endif %}
																				</td>
																			</tr>
																			
																			{% empty %}
																			<tr>
																				<td colspan="3">
																					<center style="font-size:15px;">There are no item in this table</center><br>
																				</td>
																			</tr>
																			{% endfor %}
																		</tbody>
																	</table>
																</div>
															</div>

														</div>
													</div>
												</div>
		
											</div>
										</div>





										

													
											
											
											
											

							</div>	
          	</div>

            <!-- end page content -->
{% endblock %}