{% load static %}
    <!-- start js include path -->
		<script src="{% static 'management/js/select2.js' %}" ></script>
		<script src="{% static 'management/js/main.js' %}" ></script>
		<script src="{% static 'management/js/select2-init.js' %}" ></script>
		<script src="{% static 'management/js/email-decode.min.js' %}" ></script>
    <script src="{% static 'management/js/jquery.min.js' %}" ></script>
    <script src="{% static 'management/js/popper.min.js' %}" ></script>
    <script src="{% static 'management/js/jquery.blockui.min.js' %}" ></script>
    <script src="{% static 'management/js/jquery.slimscroll.js' %}"></script>
    <script src="{% static 'management/js/jquery-ui.min.js' %}" ></script>
    <!-- bootstrap -->
    <script src="{% static 'management/js/bootstrap.min.js' %}" ></script>
    <!-- calendar -->
    <script src="{% static 'management/js/moment.min.js' %}" ></script>
    <script src="{% static 'management/js/fullcalendar.min.js' %}" ></script>
    <script src="{% static 'management/js/calendar.min.js' %}" ></script>
    <!-- Common js-->
    <script src="{% static 'management/js/app.js' %}" ></script>
    <script src="{% static 'management/js/layout.js' %}" ></script>
    <script src="{% static 'management/js/theme-color.js' %}" ></script>
	  <!-- Material -->
    <script src="{% static 'management/js/material.min.js' %}"></script>
        <!-- start js include path -->
		<script src="{% static 'management/js/additional-methods.min.js' %}" ></script>
		<script src="{% static 'management/js/bootstrap-colorpicker.min.js' %}" ></script>
		<script src="{% static 'management/js/bootstrap-colorpicker-init.min.js' %}" ></script>
		<script src="{% static 'management/js/bootstrap-datepicker.min.js' %}" ></script>
		<script src="{% static 'management/js/bootstrap-datetimepicker.min.js' %}" ></script>
		<script src="{% static 'management/js/bootstrap-datetimepicker-init.min.js' %}" ></script>
		<script src="{% static 'management/js/bootstrap-inputmask.min.js' %}" ></script>
		<script src="{% static 'management/js/bootstrap-material-datetimepicker.min.js' %}" ></script>
		<script src="{% static 'management/js/bootstrap-tabledrop.min.js' %}" ></script>
		<script src="{% static 'management/js/bootstrap-treeview.min.js' %}" ></script>
		<script src="{% static 'management/js/Chart.bundle.js' %}" ></script>
		<script src="{% static 'management/js/chartjs-data.js' %}" ></script>
		<script src="{% static 'management/js/dataTables.bootstrap4.min.js' %}" ></script>
		<script src="{% static 'management/js/datetimepicker.min.js' %}" ></script>
		<script src="{% static 'management/js/dropzone-call.js' %}" ></script>
		<script src="{% static 'management/js/dropzone.js' %}" ></script>
		<script src="{% static 'management/js/echart-data.js' %}" ></script>
		<script src="{% static 'management/js/editable_table_data.js' %}" ></script>
		<script src="{% static 'management/js/editable.js' %}" ></script>
		<script src="{% static 'management/js/extra_pages.js' %}" ></script>
		<script src="{% static 'management/js/form-validation.js' %}" ></script>
		<script src="{% static 'management/js/getmdl-select.js' %}" ></script>
		<script src="{% static 'management/js/gmaps.min.js' %}" ></script>
		<script src="{% static 'management/js/google-maps-data.js' %}" ></script>
		<script src="{% static 'management/js/home-data2.js' %}" ></script>
		<script src="{% static 'management/js/jquery.counterup.min.js' %}" ></script>
		<script src="{% static 'management/js/jquery.dataTables.min.js' %}" ></script>
		<script src="{% static 'management/js/jquery.sparkline.js' %}"></script>
		<script src="{% static 'management/js/jquery.steps.js' %}"></script>
		<script src="{% static 'management/js/jquery.validate.min.js' %}"></script>
		<script src="{% static 'management/js/jquery.vmap.europe.js' %}"></script>
		<script src="{% static 'management/js/jquery.vmap.germany.js' %}"></script>
		<script src="{% static 'management/js/jquery.vmap.js' %}"></script>
		<script src="{% static 'management/js/jquery.vmap.russia.js' %}"></script>
		<script src="{% static 'management/js/jquery.vmap.sampledata.js' %}"></script>
		<script src="{% static 'management/js/jquery.vmap.usa.js' %}"></script>
		<script src="{% static 'management/js/jquery.vmap.world.js' %}"></script>
		<script src="{% static 'management/js/jquery.waypoints.min.js' %}" ></script>		
		<script src="{% static 'management/js/jquery-tags-input.min.js' %}" ></script>		
		<script src="{% static 'management/js/jquery-tags-input-init.min.js' %}" ></script>		
		<script src="{% static 'management/js/material-loading.min.js' %}"></script>
		<script src="{% static 'management/js/moment-with-locales.min.js' %}" ></script>
		<script src="{% static 'management/js/morris.min.js' %}" ></script>
		<script src="{% static 'management/js/morris_chart_data.js' %}" ></script>
		<script src="{% static 'management/js/morris-home-data.js' %}" ></script>
		<script src="{% static 'management/js/owl.carousel.js' %}" ></script>
		<script src="{% static 'management/js/owl_data.js' %}" ></script>
		<script src="{% static 'management/js/profile.js' %}" ></script>
		
		<script src="{% static 'management/js/rephael-min.js' %}" ></script>
		
		<script src="{% static 'management/js/sparkline-data.js' %}" ></script>
		<script src="{% static 'management/js/steps-data.js' %}" ></script>
		<script src="{% static 'management/js/summernote.js' %}" ></script>
		<script src="{% static 'management/js/summernote.min.js' %}" ></script>
		<script src="{% static 'management/js/summernote-data.min.js' %}" ></script>
		<script src="{% static 'management/js/table-data.js' %}" ></script>
		<script src="{% static 'management/js/utils.js' %}" ></script>
		<script src="{% static 'management/js/vector-data.js' %}" ></script>
		<script src="{% static 'management/js/wedget-data.js' %}" ></script>
		<!-- end js include path -->

		<!--Hide|Show-->


		<script>
			$(document).ready(function(){
			$(".messagebtn").click(function(){
					$(".message").toggle();
			});
			});
			</script>
			<script>
			$(document).ready(function(){
			$(".replybtn").click(function(){
					$(".reply").toggle();
			});
			});
		</script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
		</script>

		<!--HTML To Django-->
		<script>
			document.body.addEventListener('htmx:configRequest', (event)=>{
				event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
			})
		</script>