{% extends 'doctorTemp/base.html' %}
{% block activeAppointment %}active open{% endblock %}
{% block activeBookAppointment %}active open{% endblock %}
{% load static %}


{% block content %}
<!-- start page content -->
            <div class="page-content-wrapper">
                <div class="page-content">
                    <div class="page-bar">
                        <div class="page-title-breadcrumb">
                            <div class=" pull-left">
                                <div class="page-title">Book Appointment</div>
                            </div>
                            <ol class="breadcrumb page-breadcrumb pull-right">
                                <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="index.html">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
                                </li>
                                <li class="active">Appointment</li>
                            </ol>
                        </div>
                    </div>
                     <!-- add content here -->
                </div>
            </div>
            <!-- end page content -->


{% endblock %}