{% extends 'doctorTemp/base.html' %}
{% block activeDashboard %}{% endblock %}
{% block activeAppointment %}active open{% endblock %}
{% block activeBookAppointment %}active{% endblock %}
{% block title %} Doctor - Delete Appointment | Gonzalez Dental Clinic {% endblock %}
{% load static %}

{% block content %}


<!-- start page content -->
            <div class="page-content-wrapper">
                <div class="page-content">
                    <div class="page-bar">
                        <div class="page-title-breadcrumb">
                            <div class=" pull-left">
                                <div class="page-title">Payment Form</div>
                            </div>
                            <ol class="breadcrumb page-breadcrumb pull-right">
                                <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="{% url 'dashboardDoctor' %}">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
                                </li>
                                <li class="active">Payment</li>
                            </ol>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="card card-box">
                                <div class="card-head">
                                    <header>Create Form Controls</header>
                                </div>
                            </br>

                                <div class="card-body" id="bar-parent">
                                   
                                    <label> Are you sure that <span style="color:green;">{{appoint.first_name}} {{appoint.last_name}} </span>appointment is done?</label>
                                    <form action="{% url 'appointmentDeleteDoctor' appoint.id %}" method="POST">
                                      <div class="form-horizontal">
                                      {% csrf_token %}
                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="offset-md-3 col-md-9">
                                                    <button type="submit" class="btn btn-success" name="confirm">Confirm</button>
                                                    <a href="{% url 'appointmentDoctor' %}" type="button" class="btn btn-default">Cancel</a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>


                        </div>
                    </div>
                </div>
            </div>
            <!-- end page content -->
{% endblock %}